.dark-form-container {
   background-color: #6fa1d4;
   color: white;
   padding: 20px;
   font-family: Arial, sans-serif;
   border-radius: 20px;
 }
 
 .form-title {
   font-size: 24px;
   margin-bottom: 20px;
 }
 
 .form-field {
   margin-bottom: 20px;
 }
 
 .form-label {
   display: block;
   margin-bottom: 5px;
   font-size: 16px;
 }
 
 .form-input {
   width: 100%;
   padding: 10px;
   background-color: #2c3035;
   border: 1px solid #3f4347;
   border-radius: 4px;
   color: white;
   font-size: 14px;
 }
 
 .form-submit {
   background-color: #3ba55c;
   color: white;
   border: none;
   padding: 10px 20px;
   border-radius: 4px;
   font-size: 16px;
   cursor: pointer;
   width: 100%;
   margin-top: 10px;
 }
 
 .form-submit:hover {
   background-color: #45bf6b;
 }

 .error-message {
  color: red;
  font-weight: bold;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
 }