.global-flex-form-button-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: red;
  font-weight: bold;
  width: 100%;
  padding-top: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-adjusted {
  display: flex;
}

.tag-input-field {
  flex: 7;
}

.add-tag-logo {
  flex: 1;

  color: var(--clr-custom-green);
  width: 50px;
  height: 100%;
  margin: 10px;
}