.flex-no-module-container {
   height: 100%;
   width: 100%;

   display: flex;
}

.no-module-box {
   flex: 1;

   display: flex;
   flex-direction: column;

   padding: 30px;
   padding-top: 60px;
   text-align: center;
}

.delete-button {
   background-color: red;
}

.white-button {
   color: black;
}

.flex-main-page {
   flex: 1;
   width: 100%;

   display: flex;
   overflow-y: hidden;
}

.flex-left-page {
   flex: 1;
   padding: 10px;

   display: flex;
   flex-direction: column;
   overflow-y: auto;
}

.flex-left-page-top-bar {
   display: flex;
   margin-bottom: 20px;
   margin-top: 20px;
}

.flex-left-page-top-bar-menu-button {
   flex: 1;

   display: flex;
   justify-content: start;
}

.flex-left-page-top-bar-edit-button {
   flex: 1;

   display: flex;
   justify-content: end;
}

.button-size {
   width: 30px;
   color: black;
}

.flex-left-page-minimised {
   display: flex;
   align-items: center;
}

.button-size-minimised {
   width: 30px;
   color: black;
}

.flex-right-page {
   flex: 2;
   padding: 10px;
   margin-top: 20px;

   display: flex;
   flex-direction: column;
   overflow-y: hidden;
   border-left: 2px solid white
}

.top-button {
   margin: 10px;
}