 .form-footer {
   margin-top: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 0.9rem;
 }
 
 .forgot-password, .signup-link a {
   color: var(--clr-custom-green);
   text-decoration: underline;
 }
 
 .forgot-password:hover, .signup-link a:hover {
   text-decoration: none;
 }
 
 .signup-link {
   padding-top: 20px;
   color: #fff;
 }