.login-container {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .login-form {
   padding: 2rem;
   border-radius: 8px;
   width: 100%;
   width: 450px;
 }

 .form-group {
   margin-bottom: 1.5rem;
 }
 
 .form-group label {
   display: block;
   margin-bottom: 0.5rem;
   color: #fff;
 }
 
 .form-group input {
   width: 100%;
   padding: 0.75rem;
   border: 1px solid var(--clr-custom-green);
   background-color: transparent;
   color: #fff;
   border-radius: 4px;
 }

 .form-button-group {
   display: flex;
   justify-content: center;
 }
 
 .login-button {
   padding: 0.75rem;
   padding-left: 20px;
   padding-right: 20px;
   background-color: var(--clr-custom-green);
   color: #fff;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-weight: bold;
 }
 
 .login-button:hover {
   opacity: 0.9;
 }

 .white-line {
   border: none; /* Remove the default border */
   height: 2px; /* Set the thickness of the line */
   background-color: white; /* Set the color of the line */
   margin: 30px 0; /* Add some vertical spacing if needed */
 }
 
 .form-footer {
   margin-top: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 0.9rem;
 }
 
 .forgot-password, .signup-link a {
   color: var(--clr-custom-green);
   text-decoration: underline;
 }
 
 .forgot-password:hover, .signup-link a:hover {
   text-decoration: none;
 }
 
 .signup-link {
   padding-top: 20px;
   color: #fff;
 }