.markdown-content {
   margin: 50px;
   padding-bottom: 10px;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  margin-top: 24px;
  margin-bottom: 16px;
}

.markdown-content p {
  margin-bottom: 16px;
}

.markdown-content ul,
.markdown-content ol {
  margin: 16px 0;
  padding-left: 40px;
}

.markdown-content li {
  margin-bottom: 8px;
}

.markdown-content a {
  color: #007bff;
  text-decoration: none;
}