

.view-questions-container {
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    padding: 2.5rem 15rem;
}

.title-and-disclaimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.view-questions-title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.view-questions-disclaimer {
    font-size: 1.2rem;
    text-align: center;
}

.loading-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.questions-container {
    margin-top: 3rem;
    margin-inline: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}

.book-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.book-title {
    color: #F0EDE6;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.chapters-container {
    margin-top: 1.5rem;
    margin-inline: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.chapter-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chapter-title {
    color: #F0EDE6;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.questions-list {
    margin-top: 1.2rem;
    margin-inline: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
}

.question-container {
    color: #000000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    background-color: #f8efe5;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid #563a1b;
}


/* QUESTION STYLING */

.question-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.question-text-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.question-text-question {
    font-size: 1.2rem;
    font-weight: 500;
}

/* MCQ STYLING */

.answer-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.answer-options-title {
    font-size: 1.25rem;
    font-weight: 700;
}

.answer-options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.answer-option {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;

    background-color: #FFFFFF;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #000000;
}

.correct-answer {
    background-color: #89f189;
    border: 1px solid #095909;
}

.hint-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.hint-info-title {
    font-size: 1.25rem;
    font-weight: 700;
}

.hint-info-hint {
    font-size: 1rem;
    font-weight: 500;
}

.explanation-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.explanation-info-title {
    font-size: 1.25rem;
    font-weight: 700;
}

.explanation-info-explanation {
    font-size: 1rem;
    font-weight: 500;
}


.review-question-container {
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.review-question-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.review-question-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.review-question-option {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;

    background-color: #FFFFFF;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #000000;

    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
}

.review-question-option:hover {
    cursor: pointer;
    opacity: 0.6;

    transition: opacity 0.3s ease;
}

.great {
    background-color: #89f189;
    border: 1px solid #095909;
}

.good {
    background-color: #b1d9b4;
    border: 1px solid #5a774f;
}

.ok {
    background-color: #f1f189;
    border: 1px solid #595909;
}

.bad {
    background-color: #f18989;
    border: 1px solid #590909;
}


.review-question-modal {
    color: #000000;
    margin-top: -2.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    background-color: #ecece9;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid #000000;
}

.review-question-modal-comment {
    height: 6rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #000000;
    resize: vertical;
}

.review-question-modal-submit {
    margin-top: 1rem;
    padding: 0.5rem 1rem;

    background-color: #d3e9c0;
    color: #000000;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;

    border-radius: 0.5rem;
    border: 1px solid #000000;

    transition: opacity 0.3s ease;
}

.review-question-modal-submit:hover {
    cursor: pointer;
    opacity: 0.6;

    transition: opacity 0.3s ease;
}

.review-question-modal-bad-rating-options {
    margin-block: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}
