.flex-public-layout-container {
   display: flex;
   flex-direction: column;
   background: var(--clr-custom-dark-gray);
   height: 100vh;
   overflow: hidden /* Prevent scrolling on the main container */
}

.flex-navbar-container {
   background: var(--clr-custom-dark-gray);
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.main-container {
   flex: 1;
   overflow: hidden;
   display: flex;
   font-family: 'Arial';
}

.left-sidebar {
   flex: 1; /* Don't grow, don't shrink, auto basis */
   overflow-y: auto; /* Allow sidebar to scroll independently */
}

.flex-right-container {
   flex: 1;
   display: flex;
   overflow: hidden; /* Remove scroll from here */
}

.content-wrapper {
   flex: 1;
   overflow-y: auto; /* Add scroll here */
   background: var(--clr-custom-dark-gray); /* Ensure background color is applied */
}

/* In your landingpage.css or component-specific CSS */
.edio-landing-page {
   min-height: min-content; /* Allow it to shrink to content size */
   width: 100%;
   color: black;
   font-family: Arial, sans-serif;
   background: var(--clr-custom-dark-gray);
}