.flex-public-layout-container {
   display: flex;
   flex-direction: column;
   background: var(--clr-custom-dark-gray);
   height: 100vh;
 }

 .flex-navbar-container {
   flex: 1;
   background: var(--clr-custom-dark-gray);
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

   padding-right: 10px;
   padding-left: 10px;
   display: flex;
   justify-content: flex-end;
   height: 70px;
}

.main-container {
   flex: 16;
   
   display: flex;
   overflow-y: auto;

   font-family: 'Arial';
}


.old { 
   background: hsl(207, 26%, 17%);
}