:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --clr-custom-pink: #AE5630;
  --clr-custom-blue: #AE5630;
  --clr-custom-green: #AE5630;
  --clr-custom-light-green: #F0EDE6;

  --fw-light: 300;
  --fw-semi-bold: 600;
  --fw-extra-bold: 800;

  --clr-bg: #292926;
  --clr-accent: #F0EDE6;
  --landing-page-bg-accent: #F0EDE6;
  --clr-accent-hover: #d8d5ce;
  --clr-font: #F0EDE6;
  --leaderboard-header-bg: #F0EDE6;
  --leaderboard-header-font: #292926;
  --leaderboard-divider: #AE5630;
  --clr-input: #F0EDE6;
  --clr-bg-sidebar: #F0EDE6;
  --clr-scroll: #AE5630;
  --clr-font-accent: #F0EDE6;
  --disclaimer-colour-font: #F0EDE6;
}

/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial';
}

/* Main Container for Pages */
.flex-container {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container-col {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container-col-no-scroll {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}


/* Generic Buttons */

.global-grow {
  transition: transform 0.1s;
}
.global-grow:hover {
  transform: scale(1.1);
}

.global-button {
  cursor: pointer;
  transition: transform 0.1s;
}
.global-button:hover {
  transform: scale(1.1);
}
.global-button:active {
  transform: scale(0.9);
}
.global-trans-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.clickable {
  cursor: pointer;
}

/* Standard Form Styling */

.flex-global-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.global-form {
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  width: 450px;
}

.global-form-group {
  margin-bottom: 1.5rem;
}

.global-form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--clr-font);
}

.global-form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--clr-custom-green);
  background-color: transparent;
  color: var(--clr-font);
  border-radius: 4px;
}

.global-form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--clr-custom-green);
  background-color: transparent;
  color: var(--clr-font);
  border-radius: 4px;
  resize: vertical;
  height: 200px;
}

.global-form-group select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--clr-custom-green);
  background-color: transparent;
  color: var(--clr-font);
  border-radius: 4px;
}

.global-form-group select option {
  color: var(--clr-font);
}

.global-form-button-group {
  display: flex;
  justify-content: center;
}

.global-form-submit-button {
  padding: 0.75rem;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--clr-custom-green);
  color: var(--clr-font);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.global-form-submit-button:hover {
  opacity: 0.9;
}


/* ScrollBar */

::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--clr-custom-dark-gray); /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: var(--clr-font); /* Thumb color */
  border-radius: 6px; /* Rounded corners of the thumb */
}

/* Optional: Styling the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-font); /* Darker shade on hover for better visibility */
}

.white-line {
  border: none; /* Remove the default border */
  height: 2px; /* Set the thickness of the line */
  background-color: var(--clr-font); /* Set the color of the line */
  margin: 30px 0; /* Add some vertical spacing if needed */
}


/* Debugging */
.mbg {
   border: 3px solid black;
 }
 .mtg {
   border: 3px solid blue;
 }
 .mrg {
   border: 3px solid red;
 }
 .mgg {
   border: 3px solid green;
 }
 .myg {
   border: 3px solid yellow;
 }
 .mwg {
   border: 3px solid white;
 }
 .mog {
   border: 3px solid orange;
 }

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--clr-bg);
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-font);
}